body {
    font-family: 'Mountains of Christmas';
    font-size: 22px;
    margin: 0;
    padding-top: 20px;
    background-image: url("../prekvapenie.io/pozadie.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* or 'contain' */
    background-position: center center;
  }

  div {
    margin: auto;
    padding: 0 10px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to improve readability */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for a card-like effect */
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 15px;
  }

  input[type="submit"] {
    width: 100%;
  }
